.clickable-item{
    background-color: #d1ffd3;
}
.section-area{
    margin-top: 1%;
    margin-left: 2%;
}
.section-title {
    margin-top: 2%;
    margin-bottom: 1%;
}

.label {
    color: #888888;
    float: right;
    margin-left: 4%;
}

.player-name{
    float: left;
    margin-right: 0.5%;
}
.pdga-num{
    float: left;
    color: #888888;
}
.statArea{
    float: right;
    width: 100px;
}
.stat{
    float: right;
}
.add-button-area{
    float: left;
    margin-right: 1%;
    width: 2em;
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
h1 {
    color: green;
}