{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block style %}
<style>
    td {
        border-bottom: 1px solid black;
        width: 100%;
    }
</style>
{% endblock style %}
{% block login %}{{ login }}{% endblock %}
{% block content %}
<div style="padding-left: 2%; width: 50%;">
    <h2 style="padding-bottom: 2%;">My Account</h2>
    <table>
        <tr>
            <td><b>Email</b></td>
            <td style="text-align: right;">{{ user.email }}</td>
        </tr>
        <tr>
            <td><b>Username</b></td>
            <td style="text-align: right;">{{ user.username }}</td>
        </tr>
        <tr>
            <td><b>Leagues (5 max)</b></td>
            <td style="text-align: right;">{% for league in leagues %}{{league.league_name}}, {% endfor %}</td>
        </tr>
    </table>
    <a class="navlink" href="/changePassword" id="changePassword">Change password here</a>
</div>
{% endblock %}