{% extends "base.html" %}
{% block title %}Draft{% endblock %}

{% block style %}
	<style>
		.message {
			border: solid 1px #c1ffc3;
			word-wrap: break-word;
			margin-bottom: 2%;
			width: 50%;
			padding: 1%;
		}
		.message-label {
			color: gray;
		}
		.chatArea{
			float: right;
			width: 25%;
		}
		.chat{
			min-height: 15em;
			max-height: 15em;
			overflow-y: auto;
		}
		.draftArea{
			float: left;
		}
		.list-group-item{
			width: 45em;
		}
		.list-group{
			height: 22em;
			overflow-y: auto;
		}
	</style>
	<link rel="stylesheet" href="../static/css/design.css"/>
{% endblock %}

{% block login %}{{ login }}{% endblock %}

{% block moreNav %}
{% if leagueName %}
<li class="nav-item dropdown" id="leagueDropdown">
  <a class="nav-link dropdown-toggle" id="leagueNameDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ leagueName }}</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="league">League Home</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="myTeam">My Team</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="availablePlayers">Available Players</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="matchup">Matchup</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="draft">Draft</a>
  </div>
</li>
{% endif %}
{% endblock %}

{% block content %}
<div style="margin-left: 2%;">
	<h2>{{ leagueName }}'s Draft</h2>

	<div class="draftArea">
		<h4>Up next</h4>
		<h4>Available Players</h4>
		<form>
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="" id="searchString" name="searchString">
			<button class="btn btn-outline-success my-2 my-sm-0" type="button" id="searchButton">Search</button>
		</form>
		<button class="btn my-2 my-sm-0 btn-link" id="sortByRating" style="float: left">Sort by rating</button>
		<button class="btn my-2 my-sm-0 btn-link" id="sortByName" style="float: left">Sort by name</button>
		<button class="btn my-2 my-sm-0 btn-link" id="sortByPdgaNum">Sort by PDGA number</button>
		{% if leagueName %}
			{% if user.numMPOPlayers == 5 and user.numFPOPlayers == 3 %}
			<div style="color: red;"><strong>Your MPO and FPO rosters are full. Drop players if you would like to add more.</strong></div>
			{% elif user.numMPOPlayers == 5 %}
			<div style="color: red;"><strong>Your MPO roster is full. Drop players if you would like to add more.</strong></div>
			{% elif user.numFPOPlayers == 3 %}
			<div style="color: red;"><strong>Your FPO roster is full. Drop players if you would like to add more.</strong></div>
			{% endif %}
		{% endif %}
		<div class="list-group" id="playerArea">
		  {% for player in players %}
		  <a href="#" class="list-group-item list-group-item-action" aria-current="true" id="{{ player.pdga_number }}">
			<div class="add-button-area">
			{% if leagueName %}
			  {% if (player.division=='MPO' and user.numMPOPlayers < 5) or (player.division=='FPO' and user.numFPOPlayers < 3) %}
				<form action="/addToTeam" method="post">
				  <input type="hidden" value="{{ player.pdga_number }}" name="addPDGANum">
				  <input type="hidden" value="{{ leagueName }}" name="leagueName">
				  <input type="hidden" value="{{ player.division }}" name="playerDivision">
				  <button class="btn btn-outline-success btn-sm" type="submit" id="add" style="border-radius: 100%;">+</button>
				</form>
			  {% endif %}
			{% endif %}
			</div>
			<h5 class="mb-1 player-name">{{ player.player_name }}</h5>
			<p class="mb-1 pdga-num">#{{ player.pdga_number }}</p>
			<h5 class="rating">{{ player.rating }}</h5>
		  </a>
		  {% endfor %}
		</div>
	</div>

	<div class="chatArea">
		<h4 style="margin-top: 2%;">Chat</h4>
		<div id="chat" class="chat">
			{% for message in messages %}
				<div class="message-label">{{message.sender}}</div>
				<div class="message">
					{{message.content}}
				</div>
			{% endfor %}
		</div>
		<div style="margin-top: 2%;">
			<form name="theForm">
				<input type="text" id="mess" name="mess" value="" placeholder="Message"/>
				<input class="btn btn-outline-success my-2 my-sm-0" type="button" id="button" value="enter" />
				<input type="hidden" name="last_id" id="last_id" value="{% if messages|length > 0 %}{{messages[messages|length-1].message_id}} {% endif %}" >
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" src="../static/scripts/chat.js"></script>
<script type="text/javascript" src="../static/scripts/playersActions.js"></script>
{% endblock content%}