{% extends "base.html" %}
{% block title %}League Page{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}
{% block login %}{{ login }}{% endblock %}

{% block moreNav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{leagueName}}</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="league">League Home</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="myTeam">My Team</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="availablePlayers">Available Players</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="matchup">Matchup</a>
    </div>
</li>

{% endblock %}

{% block content %}
<h2 style="margin: 0 0 0 2%">{{ leagueName }}</h2>
<div style="width: 40%; padding-left: 2%; padding-top: 2%;">
    <h3>Players</h3>
    <div class="list-group">
        {% for user in users %}
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <h5 class="mb-1" style="float: left; padding-right: 0.5%;">{{ user.username }}</h5>
            <div style="text-align: right; padding-left: 85%;">
                <h5 style="float: left;">{{ user.wins }}-{{ user.ties }}-{{ user.losses }}</h5>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}