{% extends "base.html" %}
{% block title %}My Team{% endblock %}
{% block login %}{{ login }}{% endblock %}

{% block moreNav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ leagueName }}</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="league">League Home</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="myTeam">My Team</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="availablePlayers">Available Players</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="matchup">Matchup</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="draft">Draft</a>
    </div>
</li>
{% endblock %}

{% block content %}
<h2 style="margin: 0 0 0 2%; float: left;">{{ username }}'s Team</h2>
<h2 style="margin: 0 2% 0 0; text-align: right;">Total Points: {{ total }}</h2>
<div style="margin: 2% 0 0 2%; float: left; width: 40%;">
    <h4>MPO</h4>
    <div class="list-group">
        {% for player in mpoPlayers %}
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div style="float: left; padding-right: 1%;">
                <form action="/removeFromTeam" method="post">
                    <input type="hidden" value="{{ player.pdga_number }}" name="remPDGANum">
                    <input type="hidden" value="{{ leagueName }}" name="leagueName">
                    <input type="hidden" value="{{ player.division }}" name="playerDivision">
                    <button class="btn btn-outline-danger btn-sm" type="submit" id="add" style="border-radius: 100%;">drop</button>
                </form>
            </div>
            <h5 class="mb-1" style="float: left; padding-right: 1%;">{{ player.player_name }}</h5>
            <h5 style="float:left; color: #888888;">#{{ player.pdga_number }}</h5>
            <h5 style="text-align: right;">Points: {{ player.points }}</h5>
            <p class="mb-1">Rating: {{ player.rating }}</p>
        </a>
        {% endfor %}
    </div>
</div>
<div style="margin: 2% 0 0 44%; width: 40%;">
    <h4>FPO</h4>
    <div class="list-group">
        {% for player in fpoPlayers %}
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div style="float: left; padding-right: 1%;">
                <form action="/removeFromTeam" method="post">
                    <input type="hidden" value="{{ player.pdga_number }}" name="remPDGANum">
                    <input type="hidden" value="{{ leagueName }}" name="leagueName">
                    <input type="hidden" value="{{ player.division }}" name="playerDivision">
                    <button class="btn btn-outline-danger btn-sm" type="submit" id="add" style="border-radius: 100%;">drop</button>
                </form>
            </div>
            <h5 class="mb-1" style="float: left; padding-right: 1%;">{{ player.player_name }}</h5>
            <h5 style="float:left; color: #888888;">#{{ player.pdga_number }}</h5>
            <h5 style="text-align: right;">Points: {{ player.points }}</h5>
            <p class="mb-1">Rating: {{ player.rating }}</p>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}