{% extends "base.html" %}
{% block title %}Players{% endblock %}
{% block style %}
<style>

</style>
<link rel="stylesheet" href="../static/css/design.css"/>
{% endblock %}
{% block login %}{{ login }}{% endblock %}

{% block moreNav %}
{% if leagueName %}
<li class="nav-item dropdown" id="leagueDropdown">
  <a class="nav-link dropdown-toggle" id="leagueNameDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ leagueName }}</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="league">League Home</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="myTeam">My Team</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="availablePlayers">Available Players</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="matchup">Matchup</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="draft">Draft</a>
  </div>
</li>
{% endif %}
{% endblock %}

{% block content %}
<div style="padding-left: 2%;">
  <h2>Players</h2>
  {% if tournament %}
  <div>Showing players for <strong>{{ tournament.name }}</strong></div>
  <div>Dates: <strong>{{ tournament.dates }}</strong></div>
  <div>Location: <strong>{{ tournament.location }}</strong></div>
  {% endif %}
  <form class="form-inline my-2 my-lg-0 ml-auto">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="" id="searchString" name="searchString">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="searchButton">Search</button>
  </form>
  <button class="btn my-2 my-sm-0 btn-link" id="sortByRating" style="float: left">Sort by rating</button>
  <button class="btn my-2 my-sm-0 btn-link" id="sortByName" style="float: left">Sort by name</button>
  <button class="btn my-2 my-sm-0 btn-link" id="sortByPdgaNum">Sort by PDGA number</button>
  {% if leagueName %}
    {% if user.numMPOPlayers == 5 and user.numFPOPlayers == 3 %}
    <div style="color: red;"><strong>Your MPO and FPO rosters are full. Drop players if you would like to add more.</strong></div>
    {% elif user.numMPOPlayers == 5 %}
    <div style="color: red;"><strong>Your MPO roster is full. Drop players if you would like to add more.</strong></div>
    {% elif user.numFPOPlayers == 3 %}
    <div style="color: red;"><strong>Your FPO roster is full. Drop players if you would like to add more.</strong></div>
    {% endif %}
  {% endif %}
</div>
<div class="list-group" id="playerArea">
  {% for player in players %}
  <a href="#" class="list-group-item list-group-item-action" aria-current="true" id="{{ player.pdga_number }}">
    <div class="add-button-area">
    {% if leagueName %}
      {% if (player.division=='MPO' and user.numMPOPlayers < 5) or (player.division=='FPO' and user.numFPOPlayers < 3) %}
        <form action="/addToTeam" method="post">
          <input type="hidden" value="{{ player.pdga_number }}" name="addPDGANum">
          <input type="hidden" value="{{ leagueName }}" name="leagueName">
          <input type="hidden" value="{{ player.division }}" name="playerDivision">
          <button class="btn btn-outline-success btn-sm" type="submit" id="add" style="border-radius: 100%;">+</button>
        </form>
      {% endif %}
    {% endif %}
    </div>
    <h5 class="mb-1 player-name">{{ player.player_name }}</h5>
    <p class="mb-1 pdga-num">#{{ player.pdga_number }}</p>
    <h5 class="rating">{{ player.rating }}</h5>
  </a>
  {% endfor %}
</div>
<script type="text/javascript" src="../static/scripts/playersActions.js"></script>
{% endblock content %}